*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(122, 54, 54);
}

body{
    max-width: 1520px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    background-color: rgb(51, 51, 108);
}

header{
    position: fixed;
    display: flex;
    max-width: 1520px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    background-color: brown;
    opacity: 50%;
    height: 70px;
}

.logo{
    width: 140px;
    height: 50px;
    background-color: red;
}

.header-links{
    display: flex;
    gap: 1rem;
}

.header-links>li{
    list-style: none;
}

.header-links>li>a{
    color: white;
    text-decoration: none;
}

.header-links>li>a:hover{
    color: red;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    margin-top: 70px;
}

.hero{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 667px;
    overflow-x: hidden;
}

.banner{
    width: 100%;
    min-width: 100%;
    height: 667px;
    background-color: red;
}

.sobre{
    width: 100%;
    display: flex;
    color: white;
}

.sobreEm>p{
    width: 50%;
}

.foto{
    width: 50%;
}
.fotot{
    width: 730px;
    height: 520px;
}

.galeria{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards{
    width: 480px;
    height: 450px;
    position: relative;
}

.cardImg{
    background-color: green;
    width: 100%;
    position: absolute;
    height: 100%;
}

.cards:hover>.cardContents{
    display: flex;
}

.cardContents{
    display: flex;
    position: absolute;
    width: 100%;
    background-color: red;
    height: 100%;
}