*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button{
    color: black;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(122, 54, 54);
}

body{
    max-width: 1520px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: auto;
    background-color: rgb(51, 51, 108);
}

header{
    position: fixed;
    top: 0;
    max-width: 1520px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    background-color: brown;
    opacity: 50%;
    z-index: +1;
    height: 70px;
}

.logo{
    width: 140px;
    height: 50px;
    background-color: red;
}

.header-links{
    display: flex;
    gap: 1rem;
}

.header-links>li{
    list-style: none;
}

.header-links>li>a{
    color: white;
    text-decoration: none;
}

.header-links>li>a:hover{
    color: red;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    margin-top: 70px;
}

.hero{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 667px;
    overflow-x: hidden;
}

.banner{
    width: 100%;
    min-width: 100%;
    height: 667px;
    background-color: red;
}

.sobre{
    width: 100%;
    display: flex;
    margin: 2rem 0;
    padding: 0 1rem;
    color: white;
    gap: 1rem;
}

.sobreEm>p{
    width: 100%;
    text-align: justify;
}

.foto{
    width: 100%;
}
.fotot{
    width: 730px;
    background-color: red;
    height: 520px;
}

.galeria{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.cards{
    width: 480px;
    height: 450px;
    position: relative;
}

.cardImg{
    background-color: green;
    width: 100%;
    position: absolute;
    height: 100%;
    
}

.cards:hover>.cardContents{
    display: flex;
}

.cardContents{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    display: none;
    position: absolute;
    width: 100%;
    transition: 1s;
    background-color: red;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cardContents>button{
    width: 45%;
    border: none;
    background-color: white;
    height: 50px;
}

.servicos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.servicos>h1{
    margin: 4rem;
    font-size: 42pt;
    color: white;
}

.cards-services{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.contato{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 750px;
    height: 572px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form>form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lbl{
    color: white;
}

.inpt{
    resize: none;
    width: 100%;
}

textarea{
    height: 100px;
}

.loc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    font-size: 16pt;
    width: 750px;
}

.locCont{
    width: 80%;
    height: 500px;
    background-color: red;
}

.sbmt{
    width: 100%;
    color: black;
    height: 30px;
    border: none;
    background-color: white;
}

.sbmt:hover{
    color: blue;
}

footer{
    width: 100%;
    height: fit-content;
    background-color: #422311;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}

.footUl{
    gap: 1rem;
}

.navfoot{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-links>li>a{
    color: white;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.socialLink{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.socialLink>li>img{
    width: 50px;
    height: 50px;
}

.socialLink>li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socialLink>li>a{
    color: white;
    text-decoration: none;
}

.utils{
    display: flex;
    gap: 5rem;
}

@media screen and (max-width: 1480px) {
    .galeria{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .cards{
        margin: 0 4rem;
    }
    .cards-services{
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .sobre{
        flex-direction: column;
    }

    .fotot{
        width: 100%;
    }
}

@media screen and (max-width: 1230px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
    }

    .cards{
        margin: 0 2rem;
    }
    .cards-services{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1080px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
    }

    .cards{
        margin: 0 0rem;
    }
    .cards-services{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 990px) {
    .galeria{
        grid-template-columns: 1fr;
    }

    .cards{
        margin: 0 0rem;
    }
    .cards-services{
        grid-template-columns: 1fr;
    }

    .contato{
        flex-direction: column;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 77) {
    
}